# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# 忽略.vscode 資料夾
.vscode/
# 忽略 build_temp 資料夾
build_temp/
# 忽略忽略設定檔
*.gitignore
# 忽略格式化設定檔
*.clang-format